*{
box-sizing:border-box;
font-family:Arial;
}


body{

margin:0;
background:#050816;
color:white;

}



nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 6%;

}


nav a{

margin:15px;
color:#aaa;
text-decoration:none;

}



button{

background:#2563ff;
color:white;
border:0;
padding:12px 25px;
border-radius:8px;

}


.dark{

background:#111827;

}



.hero{

display:grid;
grid-template-columns:1fr 1fr;
gap:40px;

padding:70px 6%;

}



.hero h1{

font-size:55px;

}


.hero b{

color:#4da3ff;

}



span{

color:#00ff99;

}



.dashboard{

background:#101827;

padding:30px;

border-radius:20px;

box-shadow:0 0 50px #172554;

}



.chart{

margin-top:30px;

background:#0f172a;

padding:30px;

border-radius:15px;

}



.about{

display:flex;
gap:50px;
padding:50px 6%;

}



.photo img{

width:200px;
height:200px;
border-radius:50%;

}



section{

padding:40px 6%;

}


.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:20px;


}


.cards div,.notes p,.cert{

background:#111827;

padding:25px;

border-radius:15px;

}


.cards img{

width:100%;

border-radius:10px;

}


footer{

padding:50px;

background:#020617;

text-align:center;
}
